<h3 aria-labels="TableOfContents" class="menu-label">
	{{- i18n "onThisPage" -}}
</h3>
{{- $wordCount := .WordCount -}}
{{- with .Page.Store.Get "hasResources" -}}
	{{- range . -}}
		{{- if eq .ResourceType "page" -}}
			{{- $wordCount = add $wordCount (.Content | countwords) -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
<p class="is-size-7">{{- i18n "wordCount" $wordCount -}}</p>
<div role="presentation" id="toc-main" class="tab__toc is-size-7" {{ if (.Page.Store.Get "hasResources" ) -}}style="display:none;"{{- end -}}>
	{{ .TableOfContents }}
</div>
{{- range (.Page.Store.Get "hasResources") }}
	<div role="presentation" id="toc-{{- .LinkTitle | urlize -}}" class="tab__toc is-size-7" style="display:none;">
		{{ .TableOfContents }}
	</div>
{{- end }}