{{ $deets := newScratch }}
{{ $deets.Set "dt" "" }}
{{ $deets.Set "dd" "" }}
{{ $deets.Set "title" ( .Get "Name" ) }}
{{ $deets.Set "desc" ( .Get "Desc" ) }}
{{ $deets.Set "comp" ( default "N/A" ( .Get "Competence" ) ) }}
<div class="container">
	<div class="notification">
		{{ with .Site.GetPage ( printf "%s.md" ( $deets.Get "title" | urlize ) ) }}
			{{ $deets.Set "title" ( printf "<a href='%s'>%s</a>" .RelPermalink .Title ) }}
			{{ $deets.Set "desc" .Params.description }}
		{{ end }}
		<h4>{{ $deets.Get "title" | safeHTML }}</h4>
		{{with $deets.Get "desc"}}
		<p class="subtitle">{{ . }}</p>
		{{ end }}
		<dl>
			<dt class='{{ $deets.Get "dt" }}'>Competence:</dt>
			<dd class='{{ $deets.Get "dd" }}'>
				{{ with $deets.Get "comp" }}
				{{ if eq . "5" }}⭐⭐⭐⭐⭐
				{{ else if eq . "4" }}⭐⭐⭐⭐
				{{ else if eq . "3" }}⭐⭐⭐
				{{ else if eq . "2" }}⭐⭐
				{{ else if eq . "1" }}⭐
				{{ else }}N/A
				{{ end }}
				{{ end }}
			</dd>
			{{ with .Get "Subs" }}
				<dt class='{{ $deets.Get "dt" }}'>Sub-abilities:</dt>
				<dd class='{{ $deets.Get "dd" }}'>{{ . }}</dd>
			{{ end }}
			{{ with .Get "Specialties" }}
				<dt class='{{ $deets.Get "dt" }}'>Specialties:</dt>
				<dd class='{{ $deets.Get "dd" }}'>{{ . }}</dd>
			{{ end }}
			{{ with .Get "Weakness" }}
				<dt class='{{ $deets.Get "dt" }}'>Weakness:</dt>
				<dd class='{{ $deets.Get "dd" }}'>{{ . }}</dd>
			{{ end }}
		</dl>
	</div>
</div>