{{- $s := newScratch -}}
{{- $s.Set "dt" "" -}}
{{- $s.Set "dd" "" -}}
{{- $s.Set "h3" "menu-label is-size-6" }}
<section class="infobox box is-pulled-right ml-4">
	<header>
		<p class="is-size-4 mb-4">{{- .Page.Title -}}</p>
	</header>
	{{- with .Get "Image" -}}
	<img src="{{ .RelPermalink }}" alt="">
	{{- end -}}
	
	{{- $site := .Site -}}
	{{- $charInfo := .Page.Params -}}
	
	{{- $birthday := (findRE "(?:[0-9]){4}-(?:[0-9]){2}-(?:[0-9]){2}" .Page.Params.Birthday 1) -}}
	{{ $ages := "" }}
	{{- if $birthday -}}asdf
		{{- $birthday = time (index $birthday 0) -}}
		{{- $charInfo = merge $charInfo (
			dict "birthday" (printf "%s %d" (i18n (printf "month%d" $birthday.Month)) $birthday.Day)
		) -}}
		{{- $ages := "" -}}
		{{- $count := 1 -}}
		{{- with .Page.Params.stories -}}
			{{- range $story := . -}}
				{{- $story = $site.GetPage (printf "/timeline/%s" $story) -}}
				{{- with $story.Params.date -}}
					{{- with (time .) -}}
						{{- if gt $count 1 -}}
							<!-- Separate consecutive entries in the list -->
							{{- $ages = printf "%s, " $ages -}}
						{{- end -}}
						
						{{- $storyAge := partial "event/func_dateDiff.html" (dict "year2" .Year "year" $birthday.Year "month2" (printf "%d" .Month) "month" (printf "%d" $birthday.Month) "day2" .Day "day" $birthday.Day) -}}
						{{ $storyAge = printf "%d (%s)" $storyAge.years $story.LinkTitle }}
						{{- $ages = printf "%s%s" $ages $storyAge }}
						{{- $count = add $count 1 -}}
					{{- end -}}
				{{- end -}}
			{{- end -}}
			{{ $charInfo = merge $charInfo (dict "age" $ages) }}
		{{- end -}}
	{{- end -}}
	
	{{- with .Page.Params.Gender -}}
		{{- $charInfo = merge $charInfo (dict "gender" (i18n .)) -}}
	{{- end -}}
	
	{{- with .Page.Params.Species -}}
		{{- $speciesPage := $site.GetPage (printf "/species/%ss.md" .) -}}
		{{- if $speciesPage -}}
			{{- $speciesPage = printf "[%s](%s)" . $speciesPage.RelPermalink -}}
			{{- $charInfo = merge $charInfo (dict "species" $speciesPage) -}}
		{{- end -}}
	{{- end -}}
	
	{{ partial "infobox/section" (dict "params" $charInfo "info" (slice "age" "birthday" "gender" "species" "status") "title" false )}}
	
	{{- with .Page.Params.relationships }}
	<h3 id="info-relationships" class="menu-label is-size-6">
		{{ i18n "relationships" }}
	</h3>
	<ul aria-labelledby="info-relationships">
		{{- range . -}}
		<li class="is-size-7">
		</li>
		{{- end -}}
	</ul>
	{{- end }}
	
	{{ partial "infobox/section" (dict "params" .Page.Params "info" (slice "hair" "eyes" "height" "ethnicity") "title" (i18n "physicalTraits"))}}
	
	{{ partial "infobox/section" (dict "params" .Page.Params "info" (slice "hobbies" "sleep") "title" (i18n "funFax"))}}
	
	{{ $likesDislikes := (slice "color" "animal" "food" "sport") }}
	{{ with .Page.Params.likes }}
	{{ .Page.Params.likes }}
	{{ partial "infobox/section" (dict "params" . "info" $likesDislikes "title" (i18n "likes"))}}
	{{ end }}
	{{ with .Page.Params.dislikes }}
	{{ partial "infobox/section" (dict "params" . "info" $likesDislikes "title" (i18n "dislikes"))}}
	{{ end }}
</section>
