/*--- Shortcodes, Flowcharts, Prism */
$size__thumbtack: 30px;

.mermaid rect {
    shape-rendering: geometricPrecision;
}

.mermaid text {
    text-rendering: geometricPrecision;
}

.mermaid .label {
    font-weight: normal;
    font-size: unset;

    div {
        text-align: left;
    }
}

.mermaidTooltip {
    position: absolute;
}

.tooltip--parent {
    border-radius: 50%;
    display: inline-block;
    font-size: .8em;
    height: .9rem;
    line-height: 1;
    margin-top: -.2rem;
    text-align: center;
    vertical-align: middle;
    width: .9rem;
}

.corkboard {
    background-image: url("/static/images/cork.png");
    border-radius: .5rem;
    border: 15px solid #2f2525;

    .corkboard__note {
        font-size: .9rem;
        margin-left: .75rem;
        padding: 1rem .75rem .75rem;
        text-align: center;
        box-shadow: 0 .2rem 1rem rgba(21, 21, 21, 0.5);
        &:nth-child(4n+1) {
            background: #351a26; //#ff7eb9
        }
        &:nth-child(4n+2) {
            background: #1a3523; //#ff7eb9
        }
        &:nth-child(4n+3) {
            background: #1d3535; //#7afcff
        }
        &:nth-child(4n+4) {
            background: #393823; //#fff740
        }
    }
}

.icon-thumbtack {
	height: $size__thumbtack;
	position: absolute;
	top: -.5rem;
	left: calc(#{"54% - #{$size__thumbtack}"});
	width: $size__thumbtack;
}

/*SECRET
.content p,
aside nav a {
	font-family: Redacted;
}
*/