{{/* Print handles resources differently */}}
{{- $scripts := (slice "mermaid" "prism" "reveal" "masonry" "calendar" "map") -}}
{{- if not (.Store.Get "hasPrint") -}}
    {{- $scripts = $scripts | append "resources" -}}
{{- end -}}
<!-- 
    $scriptParams := dict
        "main" (dict
            "keywords" site.Params.highlightKeywords)
        "unsplash" (dict
            "access_key" site.Params.unsplashAccessKey
            "app_name" (site.Title | urlize)
        ) -->
{{- $store := .Store -}}
{{- $resources := $store.Get "hasResources" -}}
{{/* Resources don't have access to page store from within shortcodes. */}}
{{- if $resources -}}
    {{- $shortcodes := dict "masonry" "{{< board" "reveal" "{{< slides" "mermaid" "```mermaid" -}}
    {{- range $script, $code := $shortcodes -}}
        {{- $script = $script | title -}}
        {{- range $resources -}}
            {{- if in .RawContent $code -}}
                {{- $store.Set (print "has" $script) true -}}
                {{- break -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- range $scripts -}}
    {{- if not ($store.Get (print "has" (. | title))) -}}
        {{- continue -}}
    {{- end -}}
    {{- $options := false -}}
    {{- $script := . -}}
    <!-- with (index $scriptParams $script)
        <!-- dict "Script" "[mermaid]" "Params" (dict "key" "value"...) -->
        <!-- $options = dict "Script" (print "build-" $script) "Params" . -->
    {{- partialCached "footer/js-link.html" (dict "Script" $script) . }}
{{- end -}}