{{- if .File -}}
    {{- $title := cond (eq .Kind "section") .Title (i18n "subpage") -}}
    {{- with (where .RegularPages "File.TranslationBaseName" "index") }}
        <section class="py-5" aria-labelledby="list-subpages--title">
            <h2 id="list-subpages--title" class="menu-label is-size-6">
                {{- $title -}}
            </h2>
            <div class="columns is-desktop is-multiline">
                {{- range . }}
                    <a class="column is-one-fifth" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{- end }}
            </div>
        </section>
    {{- end }}
{{- end -}}