{{/* Use LinkTitle */}}
{{- $page := where site.Pages "LinkTitle" .Title -}}
{{- $label := .Label -}}
{{- if not $page -}}
    {{/* Use Title */}}
    {{- $page = where site.Pages "Title" .Title -}}
    {{- if not $page -}}
        {{/* Use Permalink */}}
        {{- $permalinkTitle := print "/" (path.Join .Path (.Title | urlize)) "/" -}}
        {{- $page = where (where site.Pages "Section" .Path) "RelPermalink" $permalinkTitle -}}
        {{/* Use Title + "s" for plural species name */}}
        {{- if and (not $page) (eq site.Language.Lang "en") -}}
            {{- $page = where site.Pages "Title" (print .Title "s") -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- if $page -}}
    {{- $firstMatch := index $page 0 -}}
    {{- $label := $label | default .Title -}}
    {{- printf `<a href="%s">%s</a>` $firstMatch.RelPermalink $label | safeHTML -}}
{{- else -}}
    {{- $path := "" -}}
    {{ with .File }}
        {{ $path = .Path }}
    {{ else }}
        {{ $path = .Path | default "" }}
    {{ end }}
    {{- $url := path.Join $path "/" (.Title | urlize) -}}
    <a href="/{{ $url }}" class="missing">{{- .Title -}}</a><span style="display: none;">{REDLINK}{{- .Title -}}</span>
{{- end -}}