{{ $.Scratch.Set "month" (sub (int (printf "%d" $.Date.Month)) 1) }}
{{ $.Scratch.Set "allMonths" (where .Site.RegularPages ".Params.categories" "intersect" (slice "Months")) }}
{{ with (index ($.Scratch.Get "allMonths") ($.Scratch.Get "month")) }}
	{{ if $.Scratch.Get "linkMonth" }}
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{ else }}
		{{ .Title }}
	{{ end }}
	{{ $.Date.Format "2" }}{{ if in (slice 1 21 31) $.Date.Day}}st{{ else if in (slice 2 22) $.Date.Day}}nd{{ else if in (slice 3 23) $.Date.Day}}rd{{ else }}th{{ end }}{{  $.Date.Format ", 2006" }}
{{ end }}