{{- define "sidebar2" }}
	{{- $pages := .Pages -}}
	{{- if eq .Parent .FirstSection -}}
		{{- $continents := dict -}}
		{{- range $pages -}}
			{{- $page := . -}}
			{{- with .Params.continent -}}
				{{- if not (isset $continents .) -}}
					{{- $continents = merge $continents (dict . (slice $page )) -}}
				{{- else -}}
					{{- $countries := index $continents . -}}
					{{- $continents = merge $continents (dict . ($countries | append $page)) -}}
				{{- end -}}
			{{- end -}}
		{{- end -}}
		{{- range $cont, $countries := $continents -}}
			{{- partial "sidebar/nav-generic.html" (dict "Pages" $countries "Label" $cont) -}}
		{{- end -}}
	{{- else -}}
		<!-- Places/cities (subpages) -->
		{{ partial "sidebar/nav-generic.html" (dict "Pages" .Pages "Label" (i18n "xInY" (dict "items" (i18n "place") "title" .LinkTitle)) ) }}
		<!-- Characters from this country -->
		{{- if .File -}}
			{{- $chars := shuffle (where (where .Site.Pages "Section" "characters") "Params.Country" (.File.ContentBaseName | title)) -}}
			{{ partial "sidebar/nav-generic.html" (dict "Pages" (first 5 $chars) "Label" (i18n "xFromY" (dict "items" (i18n "character") "title" .LinkTitle))) }}
			{{- if gt $chars 5 }}
				<!-- @TODO link this if I figure out how to make nonexistent taxonomy pages -->
				<p class="is-size-7 mb-4">{{ i18n "andXMore" (sub (len $chars) 5) }}</p>
			{{- end }}
		{{- end -}}
		<!-- More countries (sibling pages/sections) -->
		{{- $others := first 5 (where .Parent.Pages "Permalink" "ne" .Permalink) -}}
		{{ partial "sidebar/nav-generic.html" (dict "Pages" $others "Label" (i18n "moreX" (i18n "country"))) }}
	{{- end -}}
{{- end }}