{{- define "main" }}
    {{- with (where .Pages "Kind" "section") }}
    <ol type="i" class="columns is-multiline" aria-label='{{ i18n "subpage" }}'>
        {{- $i := 1 -}}
        {{- range . }}
        <li class="column is-one-third is-half-tablet">
            <article>
                <h1 class="is-size-5 has-text-weight-normal">
                    <a href="{{- .Permalink -}}">{{ $i }}. {{ .Title }}</a>
                </h1>
                <p class="is-size-7">{{ .Description }}</p>
            </article>
        </li>
        {{- $i = add $i 1 -}}
        {{- end }}
    </ol>
    {{- end }}
    {{ .Content }}
    {{- partial "page/timeline.html" (dict "Site" $.Site "Events" (where .RegularPagesRecursive "Type" "event") "CurrentPage" .) -}}
{{- end }}