{{- define "main" -}}
    {{/* Generic Section template showing subsections and their pages */}}
    {{ .Content }}
    {{- with where (where $.Site.Pages "Kind" "section") "Parent.Title" .Title -}}
        <h2 class="is-sr-only">{{- i18n "section" (len .) -}}</h2>
        {{- range . -}}
            <h3><a href="{{- .Permalink -}}">{{- .Title -}}</a> ({{ len .Pages }})</h3>
            <ul style="list-style-type: none;" class="columns m-0">
                {{- range first 5 .Pages -}}
                    <li class="column is-one-fifth-widescreen">
                        <article>
                            <h4><a href="{{ .Permalink }}">
                                {{- .Title -}}
                            </a></h4>
                            <p class="is-size-7">{{ .Description | safeHTML }}</p>
                        </article>{{ .Params.Image }}
                    </li>
                {{- end -}}
            </ul>
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- define "sidebar2" -}}
    {{- partial "sidebar/nav-generic.html" (dict "Pages" .RegularPages "Label" (i18n "subpage" (len .RegularPages))) }}
{{- end -}}